h1 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 6rem;
  color: #fff;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}
